= form_for @order do |f|
  = f.error_messages
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :phone
    = f.text_field :phone
  .actions
    = f.submit 'Save'