%p
  %b Name:
  = @order.name
%p
  %b Email:
  = @order.email
%p
  %b Phone:
  = @order.phone
%p
  %b Pizzas:
  - @order.pizzas.each do |pizza|
    %br
    = debug pizza
    = pizza.num
    = pizza.type

= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path