!!!
%html
  %head
    %title E-Pizza
    = favicon_link_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolink-track'  => true, async: true
    = javascript_include_tag 'application',               'data-turbolinks-track' => true, async: true
    = csrf_meta_tags
  %body

    .container

      .masthead
        %h3.text-muted E-Pizza
        %ul.nav.nav-justified
          = link_to_in_li 'New order',   main_path
          = link_to_in_li 'All order', orders_path

      .jumbotron

        - flash.each do |key, value|
          = content_tag :p, value, id: key

        = yield

      .footer
        %p © E-Pizza 2014